div(style="display: none;")
    .box-modal(id="registration")
        .box-modal_close.arcticmodal-close &times;
        .wrap-login
            form
                input.form-control.input-lg(type="text", placeholder="E-mail")
                input.form-control.input-lg(type="password", placeholder="Пароль")
                input.form-control.input-lg(type="password", placeholder="Пароль еще раз")
                input.form-control.input-lg(type="text", placeholder="Имя(Ник)")
                .button РЕГИСТРАЦИЯ
            p При регистрации, Вы, принимаете пользовательское соглашение и даете свое согласение на обработку персональных данных!