doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/app/css/bundleOther.min.css')
    link(rel='stylesheet', href='/app/css/bundleMain.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='/app/js/other.min.js')
    script(src='/app/js/main.min.js')
    block content
